body{
    background-color: rgb(220, 238, 255);
}
.my-cart{
    margin-top: 2.7rem;
}
.side-menu{
    height: 50px;
    width: 300px;
    margin-bottom: 5px;
    padding: 7px 2px;
    font-size: 20px;
    font-family: 'Secular One', sans-serif;
    color: black;
    /* left: 37vw; */
    margin-top: 10px;
}
.sidebar input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
}
#address{
    width: 300px;
    height: 30px;
    border: 2px solid black;
}
.seperator{
    height: 2px;
    width: 65vw;
    position: relative;
    top: 0vh;
    left: 16vw;

    background-color: black;
}
.clrbtn{
    position: relative;
    display: inline-block;
    /* left: -22vw;
    top: -3vh; */
    padding: 10px 20px;
    background-color: white;
    color: red;
    border: 2px solid red;
    border-radius: 7px;
}
.clrbtn:hover{
    background-color: red;
    color: white;
    font-weight: bolder;
}
.place-order{
    position: relative;
    display: inline-block;
    /* left: -20vw;
    top: -3vh; */
    padding: 10px 20px;
    background-color: white;
    color: blue;
    border: 2px solid blue;
    border-radius: 7px;
}
.place-order:hover{
    background-color: blue;
    color: white;
    font-weight: bolder;
}
.min-order{
    height: 3vh;
    width: 22vw;
    position: relative;
    display: inline-block;
    left: 17vw;
    top: -12vh;
    background-color: aqua;
    border: 3px dashed blue;
    color: red;
}
/* table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
table thead td{
    font-size: 2rem;
    padding-bottom: 15px;
}
table tbody td{
    padding: 10px 0;
    font-size: 1rem;
}
table tbody td span{
    position: absolute;
    left: 61vw;
} */
/* .decreaseItem{
    font-size: 1rem;
    padding: 0 5px;
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    position: absolute;
    left: 58vw;
    margin-right: 2px;
}
.increaseItem{
    font-size: 1rem;
    padding: 0 5px;
    background-color: red;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
    width: 20px;
    position: absolute;
    left: 63vw;
    margin-left: 2px;
} */
/* .cart{
    min-width: 30vw;
    min-height: 80vh;
    width: 30vw;
    height: 80vh;
    background-color: white;
    position: relative;
    bottom: -1vh;
    left: 33vw;
}
.detail-box{
    row-gap: 0.5rem;
}
.detail-box input{
    position: absolute;
    left: 23vw;
    top: 3vh;
}
.cart-quantity{
    font-size: 1rem;
    width: 2.4rem;
}
.cart-quantity{
    border: 2px solid black;
    width: 2.4rem;
    font-size: 1rem;
}
.cart-remove{
    font-size: 1rem;
    color: red;
    position: absolute;
    top: 7vh;
    left: 24vw;
}
.total{
    justify-content: center;
} */
.detail-box input{
    width: 2.4rem;
    display: inline-block;
}
.cart-remove{
    color: red;
}
.checkout{
    width: 15vw;
    height: 12vh;
    display: inline-block;
    position: relative;
    top: 2vh;
    left: 2vw;
    background-color: white;
}
.checkout h3{
    /* display: none; */
    margin-left: 0.5rem;
    font-size: 1rem;
}
.checkout p{
    margin-left: 0.5rem;
    font-size: 1rem;
}
.footer{
    height: 30vh;
}
.payment{
    height: 60px;
}
h1:hover{
    color: red;
}